- content_for :head do 
  \
= render 'projects/banner'
= breadcrumbs_for :websites
= render 'projects/sidebar'
.websites
  %h1 Websites
  - @websites.each do |website|
    .website
      %h2
        = link_to_if website.enlargement, (image_tag(website.thumbnail.url) + website.name), website.enlargement && website.enlargement.url, :target => '_blank'
      %p= website.description