.banner
  -link_to projects_path do
    %p All our servcies are delivered by experienced and passionate staff who will help you plan, manage and implement your solution successfully
    %p view our projects

.breadcrumbs
  %ul
    %li= link_to 'Home', root_path
    %li Services
.sidebar
  %ul
    %li.current
      = link_to 'Services', services_path
      %p We use the best internet technology to drive the best results for your business
.content
  :textile
    h1. Services
    
    Through our creative and technology services we translate our knowledge of the internet into real value for our customers. We use the best internet technology to drive the best results for your business
    
    h2. Our services include
    
  - @services.each do |service|
    .service
      = image_tag service.image.url
      %h3= service.name
      %p= service.description