= content_tag(:div,flash[:notice], :class => 'not_authorised') if flash[:notice]
%h1= t('login.heading')
- form_tag session_path do 
  %p
    = t('login.password')
    = password_field_tag :password
    = submit_tag t('login.submit')
