<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style1 {color: #333333}
-->
</style>
</head>

<body bgcolor="#F5F5F5">
  <table width=621 align="center" style="background-image: url(http://<%= ActionMailer::Base.default_url_options[:host] %>/images/bg-image.jpg); background-repeat: no-repeat"><tr><td>
  <table width="590" align="center" border=0 cellspacing=0 style="font-size: 14px; font-family: Arial">
    <tr>
      <td><img src="http://<%= ActionMailer::Base.default_url_options[:host] %>/images/WI-logo.png" ></td>
    </tr>
    <tr>
      <td style="background-color: #FAFAFA; text-transform: uppercase; color: #397BAF; padding-top: 1px;">
        <h1 style="font-weight: normal; font-size: 22px; margin: 1em;">Thank you for your enquiry</h1>
      </td>
    </tr>
    <tr style="background-color: #FFF; height: 400px;">
      <td valign='top'>
        <p style="margin: 1em; margin-top: 2em; color: #373C40">Thank you very much for taking the time to contact With Imagination. We'll be in touch very soon.</p>
        <p style="margin: 1em; color: #373C40">Kind regards.</p>
        <p style="margin: 1em; color: #373C40">
          <a href='http://<%= ActionMailer::Base.default_url_options[:host] %>' style="color: #397BAF; text-decoration: none">With Imagination</a><br>
          websites web applications web marketing
        </p>
        <p style="margin: 1em; color: #373C40">
          phone + 612 9929 9229<br>
          web + www.wi.com.au<br>
          email + info@wi.com.au          
        </p>
      </td>
    </tr>
    <tr>
      <td align='right' style="color: #373C40">
        &copy; Copyright 2010 | WITH IMAGINATION | Powered by RUBY ON RAILS
      </td>
    </tr>
    <tr align='right'>
      <td>
        <a href='http://www.linkedin.com/companies/with-imagination'><img src='http://<%= ActionMailer::Base.default_url_options[:host] %>/images/linkedin.png' style="border: none;"></a>
        <a href='http://twitter.com/withimagination'><img src='http://<%= ActionMailer::Base.default_url_options[:host] %>/images/twitter-icon.png' style="border: none;"></a>
      </td>
    </tr>
  </table></td></tr></table>
</body>
</html>