%h1 Edit a banner
= button_to "Delete", @banner, :method => :delete
- form_for @banner, :html => {:multipart => true} do |f|
  %p
    = f.label :flash, 'Banner File'
    = f.file_field :flash
  %p
    = f.label :flv, 'Video File'
    = f.file_field :flv
  %p
    = f.label :size_id
    = f.collection_select :size_id, SampleLayout.all, :id, :size
  %p
    = f.label :campaign_name
    = f.text_field :campaign_name
  %p
    = f.submit