= render 'projects/banner'

= breadcrumbs_for :banners

= render 'projects/sidebar'

.content
  = title "Banners"
  %p
    = @page.content
  - @campaigns.each do |campaign|
    .banner{:class => cycle(nil, 'last')}
      %h2
        = image_tag campaign.thumbnail.url
        = link_to campaign.name, campaign.banners.first
      %ul
        - campaign.banners.each do |banner|
          %li= link_to banner.description, banner
  - if admin?
    .admin= link_to 'Add a new banner...', new_banner_path
.clear
