.breadcrumbs
  %ul
    %li= link_to 'home', '/'
    %li= link_to 'projects', projects_path
    %li   banners

.sidebar
  = image_tag 'projects-lhs.png', :alt => 'projects'
  %ul
    %li{:style => 'height: auto; line-height: 12px; padding-top: 12px; padding-bottom: 12px; text-transform: upcase;'}= link_to 'Websites', projects_path, :style => 'text-transform: uppercase;'
    %li.current{:style => 'height: auto; line-height: 12px; padding-top: 12px; padding-bottom: 12px; text-transform: upcase;'} 
      Banners 
      %ul{:style => "margin: 0; padding: 0; padding-left: 1em;"}
        - Campaign.all.each do |campaign|
          %li{:style => "text-transform: none; line-height: 12px; border: none; padding: 0; padding-top : 1em; margin: 0; height: 16px;"}= link_to campaign.name, campaign.banners.first
    %li{:style => 'height: auto; line-height: 12px; padding-top: 12px; padding-bottom: 12px; text-transform: upcase;'}= link_to 'Email Campaigns', news_letters_path


.content
  %h1 Banners
  %p
    = @page.content
  - @campaigns.each do |campaign|
    .campaign{:class => cycle(nil, 'last')}
      = image_tag campaign.thumbnail.url
      %h2
        New  
        = campaign.name
        = link_to image_tag("arrow-orange.jpg"), campaign.banners.first || ''
      %ul
        - campaign.banners.each do |banner|
          %li= link_to banner.description, banner
  - if admin?
    .admin= link_to 'Add a new banner...', new_banner_path
.clear
