= render 'projects/banner'

.breadcrumbs
  %ul
    %li= link_to 'home', '/'
    %li= link_to 'projects', projects_path
    %li   banners

.sidebar
  %ul
    %li= link_to 'Websites', websites_path, :style => 'text-transform: uppercase;'
    %li.current
      = link_to 'banners', banners_path
      %p We will provide you with the best website design options for your business
    %li= link_to 'Email Campaigns', news_letters_path

.content
  %h1 Banners
  %p
    = @page.content
  - @campaigns.each do |campaign|
    .banner{:class => cycle(nil, 'last')}
      %h2
        = image_tag campaign.thumbnail.url
        = link_to campaign.name, campaign.banners.first
      %ul
        - campaign.banners.each do |banner|
          %li= link_to banner.description, banner
  - if admin?
    .admin= link_to 'Add a new banner...', new_banner_path
.clear
