= @page_title = nil
- content_for :head do 
  = javascript_include_tag 'swfobject'
  = javascript_tag("swfobject.embedSWF('#{@banner.swf.url}', 'banner#{@banner.width}x#{@banner.height}', #{@banner.width}, #{@banner.height}, '9.0.0','expressInstall.swf', {}, {wmode : 'transparent'})")
= render 'projects/banner'
.breadcrumbs
  %ul
    %li= link_to 'home', '/'
    %li= link_to 'projects', projects_path
    %li= link_to 'banners', banners_path
    %li #{@banner.description} #{@banner.campaign.name}
.sidebar
  %ul
    %li= link_to 'Websites', websites_path
    %li.current
      = link_to 'Banners', banners_path 
      %p We will provide you with the best website design options for your business
      %ul
        - Campaign.all.each do |campaign|
          %li{:class => campaign == @banner.campaign ? "current" : nil}= link_to campaign.name, campaign.banners.first
    %li= link_to 'Email Campaigns', news_letters_path
      
.content
  .sizes= select_tag(:size, options_for_select(@banner.campaign.banners.collect{|b| [b.description,b.to_param]}, @banner.to_param))
  .sample_page
    #banner728x90
    .left
      %ul
        %li
          .picture
          %h3 Face it
          %p 
            Is it possible to apply mascara without pulling a completely ridiculous face? Bh&r...
            = link_to 'read on', '#'
        %li
          .picture
          %h3 Bid adieu to bad beauty behaviour
          %p 
            A new financial year is a good time as any to rid yourself of crimes against ha..  
            = link_to 'read on', '#'
        %li
          .picture
          %h3 Make-up masterclass
          %p 
            BECCA's founder Rebecca Morris Williams is on hand to answer some of your make-up...
            = link_to 'read on', '#'
        %li
          .picture
          %h3 Get the R&R you so deserve
          %p 
            What better day to indulge in some relaxation than a public holiday? Espacially wh...
            = link_to 'read on', '#'
      .feature
        .picture
        %h3 How to: slicked back hair
        %p
          Create a super-slick and sexy 'do like Megan Fox with handy hints from Oscar Orscar's
          = link_to 'Adrian Bowsorth','#'
      .feature
        .picture
        %h3 Mineral make-up 101
        %p
          Mineral make-up, is the healthy optional or just a lot of hype? Beautyheaven 
          = link_to 'clears up the confusion','#'
    .right
      #banner300x600
        #banner300x250
          %div{:style => "position:relative;left:-300px;top:-100px"}
            #banner600x350
      
        %h3
        %ul
          %li
            .picture
            %strong Article comment:
            %h4 Fashionably late
            %p
              I'm always runnnig late - anything that helps is awesome!
              = link_to 'read on' ,'#'
          %li
            .picture
            %strong Product review:
            %h4 Collectors Edition
            %p
              If you can only carry one product in your handbag - make it this one!! I...
              = link_to 'read on' ,'#'
              
  - if admin?
    .admin= link_to 'Edit...', [:edit, @banner]            
.clear
