- content_for :head do 
  \

.banner
  - link_to enquiries_path do
    %h2 The web is constantly changing the way the world operates.
    %p The web has now become a large part of our lives as it's entered our offices, homes and even our pockets.
    %p.contact_us Interested is learning more? contact us
= breadcrumbs_for :clients
.sidebar
  %ul
    %li.current.first
      = link_to_unless_current "Who we've helped", clients_path
      %p We care about the web and our mission is to try and make the web experience even better by delivering the best possible solution
= render 'testimonials/testimonials'
.content
  = title "Who We've helped"
  - @clients.each do |client|
    .client
      %div
        %span
        = image_tag client.url
