- @page_title = nil 
- content_for :head do 
  = auto_discovery_link_tag(:rss, "/news.rss") 

.hero
  #previous
    = link_to "Previous Project", '#'
  #slide_show_container
    #markers
      - Project.find(:all, :conditions => 'slide_file_name is not null', :order => 'position').each do |p| 
        %div &nbsp;
      %span Recent Projects
    #slide_show
      - Project.find(:all, :conditions => 'slide_file_name is not null',  :order => 'position').each_with_index do |p, i| 
        = image_tag p.slide.url, :style => i == 0 ? nil : 'display: none;'
  #next
    = link_to 'Next Project',"#"
.line{:style => 'float: left;'}
  = image_tag "line.jpg",  :alt => "line",  :width => "7",  :height => "280"
.text_container{:style => 'float: left;'}
  #share= share_link
  #page_content.home_page
    = RedCloth.new(@page.content.to_s).to_html
%div{:style => "clear: both; overflow: visible;"}
  = link_to 'Follow on twitter', twitter_path,:class => "twitter"
  #latest_tweet{:style => 'display: none;'}= latest_tweet
#news_outer
  #news
    = image_tag 'rss_icon.jpg', :style => 'float: right; margin-right: 10px; margin-top: 10px;'
    %h3 Latest news
    %ul
      - News.find(:all, :limit => 1, :order => "created_at desc").each do |news|
        %li
          %h4= news.title 
          %p= truncate_preserving_words(strip_tags(news.content), 200)
          - latest_month = ((News.find(:last, :order => "created_at").try(:created_at).try(:to_date)) || Date.today)
          %p= link_to "more &gt;&gt;", news_by_month_path(:year => latest_month.year, :month => latest_month.month)
#services_outer
  #services
    %h3 Services
    %ul
      %li
        %h4 Web Design and Development
        %p 
          Our mission is always to provide cost-effective solutions that target your goals ...
          on-time and within  budget.
        %p= link_to "more &gt;&gt;","/services#design"
      %li
        %h4 Web Applications
        %p 
          We can develop custom web applications to suit your business needs.
        %p= link_to "more &gt;&gt;","/services#applications"
      %li
        %h4 Online Marketing
        %p 
          Looking to run an online advertising campaign? We have designed many different forms of online media such as flash
          banners and skyscrapers.
        %p= link_to "more &gt;&gt;","/services#advertising"
#express_contact_us_outer
  #express_contact_us
    %h3 Contact us
    - form_for @enquiry || Enquiry.build_express, :url => enquiry_path do |f|
      %p
        Email:
        = mail_to "info@wi.com.au","info@wi.com.au", :encode => :javascript
      %p Phone: + 61 2 9929 9229
      %p Fax: + 61 2 9460 4770
      = '<p><span class="errorExplanation">Your enquiry could not be submitted</span></p>' unless f.object.errors.empty? 
      = f.hidden_field :express 
      %p
        = f.text_field :name, :class => 'field', :size => 11, :maxlength => 100 
        = error_message_on f.object, :name
      %p
        = f.text_field :email, :class => 'field', :size => 11, :maxlength => 100 
        = error_message_on f.object, :email
      %p
        = f.text_field :phone, :class => 'field', :size => 11, :maxlength => 100
        = error_message_on f.object, :phone
      %p= image_submit_tag "submit.jpg"
.clear{:style => 'clear: both'}
