.projects
  %ul
    - @projects.each do |project|
      %li.project{:class =>  project.url.blank? ? nil : "selected"}
        .panel
          = image_tag project.thumbnail.url
          %h3= project.name
          =# link_to project.url, project.url unless project.url.blank?
          = link_to 'View Case Study', case_study_path if project.case_study
        = link_to(image_tag(project.main_image.url, :class => 'main'), projects_path, :class => 'main')

.testimonials
  %h2 Testimonials
  - @testimonials.each do |testimonial| 
    .testimonial{:style => testimonial == @testimonials.first ? nil : "display: none;"}
      = image_tag testimonial.image.url, :class => testimonial.long_logo ? 'long' : nil
      %p{:class => testimonial.long_logo ? 'long' : nil}= testimonial.content
      %p.author= testimonial.author

.content
  .blog
    %h2 Blog
    .blog_links
      = link_to 'subscribe blog', posts_path(:format => :rss), :class => 'rss'
      = link_to 'browse all', posts_path
    - if @post
      .post
        .calendar
          %span.day= @post.created_at.day
          %span.month= @post.created_at.strftime('%B')
      
        %h3= link_to @post.title, @post
        %p.author
          &nbsp;
          - unless @post.author_name.blank?
            %label Author:
            = @post.author_name
        = image_tag @post.image.url(:thumb), :size => '295x80'
        = truncate(strip_tags(textilize(@post.content)),:length => 500)
        = link_to 'more ..', @post
        .actions
          = link_to "(#{@post.comments_count}) #{@post.comments_count == 1 ? 'Comment' : 'Comments'}", post_path(@post, :anchor => :comments)
          
          = add_this_toolbox @post

  .copy
    :textile 
      h1. Creating a positive brand experience!

      Are your web activities creating a positive brand experience? If not, we can help you. We have been providing web solutions for over 16 years. In fact every service we provide helps to build your brand online.

      We focus on website design and website development, web applications and web marketing services. We blend our creative, technology and marketing experience to deliver real solutions.

      The web is constantly changing the way the world operates. The web has now become a large part of our lives as it’s entered our offices, homes and even our pockets. So, your customers are now heading to the web but are you really ready for them?

  .contact
    == Interested in learning more? #{link_to 'contact us', enquiries_path}
  
  .services
    %h2 Services
    -  @services.each do |service|
      .service{:class => service == @services[-1] ? 'last' : nil}
        = image_tag service.image.url
        %h3= service.name 
        %p= service.description
    %p.more= link_to 'more&#8230;', services_path
 
  .case_study
    %h2 Case Study
    = image_tag @case_study.thumbnail.url
    
    %h3= @case_study.name 
    :textile
      Healthworks is an established leader in the provision of corporate health services and have won several state and federal government awards in recognition of their innovative approach to health and wellness.

      Our challenge was to help Healthworks grow its market leadership by implementing an innovative web presence with increased user functionality plus supporting the launch with e-marketing activities.
    %p.more= link_to 'more&#8230;', case_study_path

  .twitter
    %h2 Twitter
    = link_to 'follow on twitter', 'http://twitter.com/withimagination', :class => 'follow' 
    #tweets

