.projects
  %ul
    - @projects.each do |project|
      %li.project{:class =>  project.url.blank? ? nil : "selected"}
        .panel
          = image_tag project.thumbnail.url
          %h3= project.name
          = link_to project.url, project.url unless project.url.blank?
        = image_tag project.main_image.url, :class => 'main'

.testimonials
  %h2 Testimonials
  - @testimonials.each do |testimonial| 
    .testimonial
      = image_tag testimonial.image.url 
      %p= testimonial.content
      %p.author= testimonial.author

.content
  .blog
    %h2 Blog
    .blog_links
      = link_to 'subscribe blog','#', :class => 'rss'
      = link_to 'browse all','#'
    - if @post
      .post
        .calendar
          %span.day= @post.created_at.day
          %span.month= @post.created_at.strftime('%B')
      
        %h3= link_to @post.title, @post
        %p.author
          %label Author:
          = @post.author_name
        =# image_tag @post.image.url
        = truncate(strip_tags(textilize(@post.content)),900)
        = link_to 'more ..', @post
        .actions
          (#{@post.comments_count}) #{@post.comments_count == 1 ? 'Comment' : 'Comments'} | #{link_to '[+] Share', '#'}

  %h1 Today the web is where your customers are heading but are you ready for them?
  :textile 
    With over 16 years experience in providing web based solutions we are confident that we can assist you. In fact every service we offer represents a cost effective way of helping to build your brand online.

    We specialise in website design and website development, web applications and e-marketing services. We blend our creative, technology and marketing experience to deliver real solutions.

    The web is constantly changing the way the world operates. The web has now become a large part of our lives as it’s entered our offices, homes and even our pockets. With the increasing importance of the web are your current web activities creating a positive brand experience?
  .contact
    == Interested in learning more? #{link_to 'contact us', "#"}
  
  .services
    %h2 Services
    
    -  @services.each do |service|
      .service{:class => service == @services[-1] ? 'last' : nil, :style => "background-image: url(#{service.image.url});"}
        %h3= service.name 
        %p= service.description
        %p= link_to 'more ..', '#'
 
  .case_study
    %h2 Case Study
    = image_tag @case_study.thumbnail.url
    
    %h3= @case_study.name 
    = sanitize @case_study.summary.to_s 
    = link_to 'more..', @case_study.url 

  .twitter
    %h2 Twitter
    = link_to 'follow on twitter', '#', :class => 'follow' 
    #tweets

