%h1 Home#index
%p Find me in app/views/home/index.html.erb
%p= link_to t('project.link'), portfolio_path
%p
  = link_to 'Services', services_path
  = link_to 'Edit', edit_page_path('services') if admin?
%p
  = link_to 'About', about_path
  = link_to 'Edit', edit_page_path('about') if admin?