.main
  .breadcrumbs
    %ul
      %li= link_to 'home', root_path
      %li= @page.name
  .sidebar-right
    .links
      %ul
        %li.rss= link_to 'Subscribe to our RSS REED','#'
        %li.linked_in= link_to 'Find us on linkedin','#'
        %li.twitter_link= link_to "Follow us on twitter",'#'
      .categories
        %h2 Posts
        %ul
          %li= link_to 'Web Marketing', '#'
          %li= link_to 'Web Design','#'
          %li= link_to 'Web Applications','#'
      
    .twitter
      %h2 Twitter
      = link_to 'follow on twitter', '#', :class => 'follow' 
      - @tweets.each do |tweet| 
        .tweet
          %p= tweet.content
          %p.info #{ time_ago_in_words tweet.date} ago from #{tweet.source}
    .comments
      %h2 Recent Comments
      - @comments.each do |comment|
        .comment
          %span.author= comment.author_name
          = comment.content
  .post
    = image_tag @post.image.url
    %h2= @post.title
    %p.information Posted on #{@post.date.strftime('%d. %b, %Y')} | #{@post.source}
    .tweets
      %span.count= @post.tweets_count
      tweets
      = link_to 'retweet','#'
    .post_content= sanitize @post.content.to_s
  .tagged
    Tagged as:
    - @post.tags.each do |tag|
      = link_to tag, '#TODO'
  .comments
    %h2 Comments
    - @post.comments.each do |comment|
      .comment
        .author= comment.author_name
        .created= comment.created_at.strftime('%M %d')
        .comment_content= comment.content
        
