%h1 Edit some news
= button_to "Delete", news_item_path(@news), :method => :delete
- form_for @news, :url => news_item_path(@news) do |f|
  = f.label :title
  = f.text_field :title
  = f.label :content
  = f.text_area :content
  = f.label :created_at
  = f.datetime_select :created_at
  = f.submit 'Save'