= @page_title = "Latest News"
- content_for :head do 
  = auto_discovery_link_tag(:rss, "/news.rss")

.breadcrumb
  = link_to 'home', '/'
  &gt;
  = link_to 'latest news', news_path

.left
  .side_menu
    = image_tag 'news/menu.png', :alt => 'latest_news'
    %ul
      - News.all.each do |news| 
        %li{:style => 'height: auto; line-height: 12px; padding-top: 12px; padding-bottom: 12px; text-transform: upcase;'}= link_to_if news != @news, news.title, news_item_path(news), :style => 'text-transform: uppercase;'
.right
  .side_menu
    #contact_information
      %h3 Contact Us
      %p
        Email: 
        = mail_to 'info@wi.com.au','info@wi.com.au', :encode => "javascript"
      %p Phone: + 61 2 9929 9229
      %p Fax: + 61 2 9460 4770
    .twitter= link_to 'Follow', '#TODO'
    .subscribe= link_to 'Subscribe Latest News', '#TODO'

.center
  = image_tag 'news/banner.jpg', :alt => 'latest_news'
  #page_content
    - @news.each do |news|
      %h1{:style => 'float: none'}= link_to news.title,news_item_path(news)
      .content= simple_format(news.content )
    - if admin?
      .admin= link_to 'Add more news...', new_news_item_path
.clear
