%h1 Create some news
- form_for @news do |f|
  = f.label :title
  = f.text_field :title
  = f.label :content
  = f.text_area :content
  = f.label :created_at
  = f.datetime_select :created_at
  = f.submit 'Create'