- content_for :head do 
  \

.breadcrumbs
  %ul
    %li= link_to 'home', '/'
    - @page.ancestors.reverse.each do |ancestor| 
      %li= link_to ancestor.title, unwrapped_page_path(ancestor)
    %li= @page.title  

.sidebar
  = image_tag @page.root.menu_heading.url
  %ul
    - ([@page.root] + @page.root.children).each do |page| 
      %li{:class => page == @page ? "current" : nil}
        = link_to page.title, unwrapped_page_path(page)
.content
  %h1= @page.title
  = yield
.clear