- @page_title = nil 
- content_for :head do 
  \

.breadcrumb
  = link_to 'home', '/'
  - @page.ancestors.reverse.each do |ancestor| 
    &gt;
    = link_to ancestor.title, unwrapped_page_path(ancestor)
  &gt; 
  = @page.title  

.left
  .side_menu
    = image_tag @page.root.menu_heading.url
    %ul
      - ([@page.root] + @page.root.children).each do |page| 
        %li= link_to_if page != @page, page.title, unwrapped_page_path(page)
.right
  .side_menu
    #contact_infomation
      %h3 Contact Us
      %p
        Email: 
        = mail_to 'info@wi.com.au','info@wi.com.au', :encode => "javascript"
      %p Phone: + 61 2 9929 9229
      %p Fax: + 61 2 9460 4770
    .twitter= link_to 'Follow', '#TODO'
    .subscribe= link_to 'Subscribe Latest News', '#TODO'

.center
  #page_content
    %h1= @page.title
    .clear
    = yield
.clear