- content_for :head do 
  \

.breadcrumbs
  %ul
    %li= link_to 'home', '/'
    - @page.ancestors.reverse.each do |ancestor| 
      %li= link_to ancestor.title, '#'
    %li= @page.title  

.sidebar
  = image_tag @page.image.url
  %ul
    - [@page].each do |page| 
      %li{:class => page == @page ? "current" : nil}
        = link_to page.name, unwrapped_page_path(page)
.content
  %h1= @page.title
  = yield
.clear