- content_for :head do 
  \
.banner
  - link_to services_path do
    %p We blend out creative technology experience to deliver real solutions to our clients
    %p View our services
= breadcrumbs_for :company

.sidebar
  %ul
    %li.current.first
      = link_to_unless_current  'Company', company_path
      %p We care about the web and our mission is to try and make the web experience even better by delivering the best possible solution
    %li= link_to_unless_current 'Why Choose Us', why_choose_us_path
= render 'testimonials/testimonials'
.content
  = title "Company"
  :textile
    We care about the web and during the past 16 years we have continually tried to make the web experience even better by delivering creative and innovative solutions. 
    
    All our services are delivered by experienced and passionate staff ensuring that your solution will be carefully planned, managed and implemented successfully.

    We are privately owned and we focus on providing the best service to medium sized enterprises and corporations.
    
    We are keen to play our part and supporting the following internet industry associations: "Australian Interactive Media Industry Association":http://www.aimia.com.au, "Internet Industry Association":http://www.iia.net.au and "Interactive Advertising Bureau":http://www.iabaustralia.com.au.
    
    Do you need some advice or have a defined project in mind? Then why not "contact us":#{contact_us_path} today!

