%h1 Editing page
= button_to "Delete", @page, :method => :delete

- form_for(@page, :html => {:multipart => true}) do |f| 
  = f.error_messages

  %p
    = f.label :title 
    = f.text_field :title
  #preview
    = RedCloth.new(f.object.content.to_s).to_html
  %p
    = f.label :browser_title
    %br
    = f.text_field :browser_title
  %p
    = f.label :content
    %br
    = f.text_area :content
  .assets
    %h2 Assets
    %ul
      - @assets.each do |asset|
        %li
          = asset.attachment_file_name
          .full_path= asset.attachment.url
  %p
    = f.label :keywords
    %br
    = f.text_field :keywords
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    %br
    = f.label :summary
    %br 
    = f.text_field :summary
  %p
    = f.label :tab
    = f.file_field :tab
  %p
    = f.label :hover_tab
    = f.file_field :hover_tab
  %p
    = f.label :banner
    = f.file_field :banner
  %p
    = f.label :menu_heading
    = f.file_field :menu_heading
  %p
    = f.label :parent_id
    = f.collection_select :parent_id, Page.roots - [@page], :id, :title, :include_blank => true
  %p
    = f.submit "Update"
= link_to 'Show', unwrapped_page_path(@page)
= link_to 'Back', pages_path
