- content_for :head do 
  \
= render 'projects/banner'
= breadcrumbs_for :projects

= render 'projects/sidebar'
.content
  = title "Projects"
  :textile
    Welcome to our projects page. You will find examples of the types of projects that we been privileged to have worked on. This is just a snap shot highlighting some of our work that we have successfully carried out over the past few years. In helping to maintain our clients competitive advantage we are unable to display or detail some of our web application projects.

    Each project has been successfully delivered and has made a contribution to our clients business.

    To make it easier to review we have separated our project work into three areas, websites, online advertising and email marketing.

    Do you have a project in mind? We’d like to help so why not contact us today.
    
    * "Websites":#{websites_path}
    * "Banners":#{banners_path}
    * "Email Campaings":#{news_letters_path}
    
