<% @page_title = nil %>
<% content_for :head do %>
<% end %>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class='<% @page.root.permalink %>'>
  <tr>
    <td>
      <h1><%= @page.title%></h1>
    </td>
  </tr>
  <tr>
    <td class="breadcrumb"><a href="/">home</a>
      <% @page.ancestors.reverse.each do |ancestor| %>
        &gt; <%= link_to ancestor.title, unwrapped_page_path(ancestor) %>
      <% end %>
      &gt; <%= @page.title %>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="lhs_menu" valign="top">
            <div class='side_menu'>
              <%= image_tag @page.root.menu_heading.url%>
              <ul>
                <% ([@page.root] + @page.root.children).each do |page| %>
                  <li><%= link_to_if page != @page, page.title, unwrapped_page_path(page) %></li>
                <% end %>
              </ul>
            </div>
          </td>
          <td width="7px"><img src="/images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
          <td valign="top" class="subtext_container">
            <div id='page_content'><%= @page.content %></div>
          </td>
          <td width="7px"><img src="/images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
          <td class="rhs_menu" valign="top">
            <div class='contact_infomation'>
              <h3>Contact Us</h3>
              <p>Email: <%= mail_to 'info@wi.com.au','info@wi.com.au', :encode => "javascript"%></p>
              <p>Phone: + 61 2 9929 9229</p>
              <p>Fax: + 61 2 9460 4770</p>
            </div>
            <div class='twitter'>
              <%= link_to 'Follow', '#TODO' %>
            </div>
            <div class='subscribe'>
              <%= link_to 'Subscribe Latest News', '#TODO' %>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>