%h1= t('project.edit.heading')
- form_for @project, :html => {:multipart => true} do |f|
  %p
    = t('project.name')
    = f.text_field :name
  %p
    = t('project.description')
    = f.text_area :description
  %p
    = t('project.picture')
    = f.file_field :picture
  %p
    = t('project.logo')
    = f.file_field :logo
  %p
    Slide 
    = f.file_field :slide
  %P
    Include in footer
    = f.check_box :in_footer  
  %p
    = submit_tag t('project.edit.submit')
    or
    = link_to 'Cancel', projects_path
