%h1= t('project.new.heading')
- form_for @project, :html => {:multipart => true} do |f|
  %p
    %label= t('project.name')
    = f.text_field :name
  %p
    %label= t('project.description')
    = f.text_area :description
  %p
    %label= t('project.picture')
    = f.file_field :picture
  %p
    %label= t('project.logo')
    = f.file_field :logo
  %p
    %label Slide 
    = f.file_field :slide
  %P
    %label Include in footer
    = f.check_box :in_footer
  %p
    = submit_tag t('project.new.submit')
    or
    = link_to 'Cancel', projects_path
  