.main
  .breadcrumbs
    %ul
      %li= link_to 'home', root_path
      %li blogs
  = render 'posts/sidebar'
  .posts
    %h1 Post Archives: #{@tag.name}
    - @tag.posts.each do |post|
      .post
        = image_tag post.image.url
        %h2= post.title
        %p.information Posted on #{post.created_at.strftime('%d. %b, %Y')} | Author: #{post.author_name}
        .tweets
          %span.count= post.tweets_count
          tweets
          = link_to 'retweet','#'
        %p= truncate(strip_tags(textilize(post.content)),300)
        .links
          = link_to 'continue reading', post, :class => 'continue_reading'
          %span
            = link_to "(#{post.comments_count}) #{post.comments_count == 1 ? 'comment' : 'comment'.pluralize}" 
            | [+] Share
