.sidebar-right
  .links
    %ul
      %li.rss= link_to 'Subscribe to our RSS FEED',posts_path(:format => :rss)
      %li.linked_in= link_to 'Find us on linkedin','#'
      %li.twitter_link= link_to "Follow us on twitter",'http://twitter.com/withimagination'
    .categories
      %h2 Posts
      %ul
        - @tags.each do |tag|
          %li= link_to tag.name, tag
  .twitter
    %h2 Twitter
    = link_to 'follow on twitter', 'http://twitter.com/withimagination', :class => 'follow' 
    #tweets
  .comments
    %h2 Recent Comments
    - @comments.each do |comment|
      .comment
        %span.author= link_to comment.author_name.to_s, post_path(comment.post, :anchor => dom_id(comment))
        = comment.message