.main
  = breadcrumbs_for @post
  =  render 'posts/sidebar'
  .post
    = image_tag @post.image.url
    %h1= @post.title
    %p.information Posted on #{@post.created_at.strftime('%d. %b, %Y')} | #{@post.source}
    .tweets
      :javascript
        tweetmeme_service = 'bit.ly';
        tweetmeme_url = '#{post_url(@post)}';
      <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
    .post_content= sanitize textilize(@post.content)
  .tagged
    Tagged as:
    - @post.tags.each do |tag|
      = link_to tag.name, tag
  #comments
    %h2 Comments
    - @post.comments.approved_or_authored(session[:comment_ids]).each do |comment|
      %div[comment]{:class => comment.state}
        - if comment.pending?
          %p Your comment is waiting approval 
        .author= comment.author_name
        .created= comment.created_at.strftime('%M %d')
        .comment_content= comment.message
  - form_for [@post, Comment.new] do |form|
    %h2 Add Yours
    = anti_spam_fields
    = form.text_area :message, :placeholder => 'your message...'
    = form.text_field :author_name, :placeholder => 'Name'
    = form.text_field :author_email, :placeholder => 'Email Address'
    = form.submit 'Add Comment'
