- content_for :head do 
  \
= render 'projects/banner'
= breadcrumbs_for :news_letters

.sidebar
  %ul
    %li= link_to 'Websites', websites_path
    %li= link_to 'Banners', banners_path
    %li.current
      = link_to  'Email Campaigns', company_path
      %p We will provide you with the best email campaigns design options for your business
.content
  %h1 Email Campaigns
  - @news_letters.each do |news_letter|
    .news_letter{:class => cycle(nil, 'last')}
      = link_to image_tag(news_letter.logo.url), news_letter
      %h2= link_to news_letter.name, news_letter
