- content_for :head do 
  \
= render 'projects/banner'
= breadcrumbs_for :news_letters

= render 'projects/sidebar'
.content
  %h1 Email Campaigns
  - @news_letters.each do |news_letter|
    .news_letter{:class => cycle(nil, 'last')}
      = link_to image_tag(news_letter.logo.url), news_letter
      %h2= link_to news_letter.name, news_letter
