

- render :layout => 'pages/layout' do 
  %p
    If you are interested in talking to us then we would love to hear from you. 
    The best person to get in touch with is our General Manager 
    %strong Derek Nash
  %p Phone: +61 2 9929 9229
  %p Fax: +61 2 9490 4770
  %p 
    Email:
    = mail_to 'info@wi.com.au', 'info@wi.com.au', :encode => :javascript
  %p
    Address: Level 1, 44 Miller St North Sydney NSW 2060 Australia
  :erb
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=44+miller+st+north+sydney&amp;sll=37.649034,-95.712891&amp;sspn=46.855215,79.101563&amp;ie=UTF8&amp;z=14&amp;iwloc=A&amp;ll=-33.827646,151.210413&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=44+miller+st+north+sydney&amp;sll=37.649034,-95.712891&amp;sspn=46.855215,79.101563&amp;ie=UTF8&amp;z=14&amp;iwloc=A&amp;ll=-33.827646,151.210413" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  - form_for @enquiry, :url => enquiry_path do |f|
    = f.error_messages :header_message => 'Your enquiry could not be submitted'
    %div
      = f.label :title      
      = f.select :title, %w(Mr Mrs Ms Miss)
    %div
      = f.label :first_name, "First Name*"
      = f.text_field :first_name, :size => nil 
    %div
      = f.label :last_name, "Last Name*"
      = f.text_field :last_name, :size => nil 
    %div
      = f.label :email, "Email*"
      = f.text_field :email, :size => nil 
    %div
      = f.label :email_confirmation, "Confirm Email*"
      = f.text_field :email_confirmation, :size => nil 
    %div
      = f.label :phone, "Phone Number"
      = f.text_field :phone, :size => nil 
    %div
      = f.label :message, "Comments"
      = f.text_area :message, :cols => 45, :rows => 5
    %div
      = image_submit_tag "/images/contact/submit.jpg"
