<% form_for @enquiry, :url => enquiry_path do |f| %><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="images/contact/banner.jpg" alt="contact us" width="978" height="99" /></td>
      </tr>
      <tr>
        <td class="breadcrumb"><a href="#">home</a> &gt; contact us</td>
      </tr>
      <tr>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="lhs_menu" valign="top">

            <table width="150" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="list"><img src="images/menu/li.jpg" width="6" height="8" /></td>
    <td class="menu"><strong>CONTACT US</strong></td>
  </tr>
 </table>

            </td>
            <td width="7px" valign="top"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
            <td valign="top" class="subtext_container"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                <td><h1>Contact Us</h1>
                </td>
                <tr>
                <td><h2><p>Find out how With Imagination can cost effectively help your business online by building stronger relationships with your customers, 
                benefit from greater efficiencies and ultimately increase your profitability.</p>
                <p>If you are interested in talking to us then we would love to hear from you. 
                The best person to get in touch with is our Marketing Director <strong>Derek Nash</strong></p>
                <p>
                <strong>Phone</strong><br />
                +61 2 9299 9229</p>
                <P><strong>Fax:</strong><br />
                  +61 2 9490 4770</P>
                <p><strong>Email:</strong><br />
                  <a href="mailto:info@wi.com.au" target="_blank">info@wi.com.au</a></p>
                <p><strong>Address:</strong><br />
                  Level 1, 44 Miller St<br />
                North Sydney NSW 2060<br />
                Australia</p>
 
                </h2></td>
              </tr>
              <tr>
              <td style="padding-top:20px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="27%" class="contact_table"><h2><strong>Title</strong></h2></td>
    <td width="73%" colspan="2" class="contact_table">
      <label>
        <%= f.select :title, %w(Mr Mrs Ms Miss) %>
        </label>
  </td>
  </tr>
  <tr>
    <td class="contact_table"><h2><strong>First Name*</strong></h2></td>
    <td colspan="2" class="contact_table">
      <label>
        <%= f.text_field :first_name, :size => nil %>
        </label>
      </td>
  </tr>
  <tr>
    <td class="contact_table"><h2><strong>Last Name*</strong></h2></td>
    <td colspan="2" class="contact_table">
      <label>
        <%= f.text_field :last_name, :size => nil %>
        </label>
      </td>
  </tr>
  <tr>
    <td class="contact_table"><h2><strong>Email*</strong></h2></td>
    <td colspan="2" class="contact_table">
      <label>
        <%= f.text_field :email, :size => nil %>
        </label>
    </td>
  </tr>
  <tr>
    <td class="contact_table"><h2><strong>Confirm Email*</strong></h2></td>
    <td colspan="2" class="contact_table">
      <label>
        <%= f.text_field :email_confirmation, :size => nil %>
        </label>
      </td>
  </tr>
  <tr>
    <td class="contact_table"><h2><strong>Phone Number</strong></h2></td>
    <td colspan="2" class="contact_table">
      <label>
        <%= f.text_field :phone, :size => nil %>
        </label>
       </td>
  </tr>
  <tr>
    <td class="contact_table"><h2><strong>Company</strong></h2></td>
    <td colspan="2" class="contact_table">
      <label>
        <%= f.text_field :company, :size => nil %>
        </label>
      </td>
  </tr>
  <tr>
    <td class="contact_table"><h2><strong>Position</strong></h2></td>
    <td colspan="2" class="contact_table">
      <label>
        <%= f.text_field :position, :size => nil %>
        </label>
       </td>
  </tr>
  <tr>
    <td class="contact_table"><h2><strong>Comments</strong></h2></td>
    <td colspan="2" class="contact_table">
      <label>
        <%= f.text_area :message, :cols => 45, :rows => 5%>
        </label>
      </td>
  </tr>
  <tr>
    <td class="contact_table" align="right">&nbsp;</td>
    <td class="contact_table"><%= f.check_box :subscribed %></td>
    <td class="contact_table"><h2>I’d also like to be kept up-to-date with information</h2></td>
  </tr>
  <tr>
    <td class="contact_table">&nbsp;</td>
    <td colspan="2" class="contact_table"><input type='image' src="images/contact/submit.jpg" alt="submit" border="0" />    </td>
  </tr>
</table>

              </td>
              </tr>
            </table></td>
            <td width="7px" valign="top"><img src="images/line.jpg" alt="line" width="7" height="364" />&nbsp;</td>
            <td class="rhs_menu" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="RHS_heading"><img src="images/inspiration.jpg" width="81" height="19" /></td>
              </tr>
              <tr>
                <td class="RHS_heading"><img src="images/projects.jpg" alt="projects" width="126" height="125" /></td>
              </tr>
              <tr>
                <td class="RHS_heading"><a href="portfolio_1.html"><img src="images/contact/portfolio.jpg" alt="portfolio" width="72" height="23" border="0" /></a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table><% end %>

