= breadcrumbs_for :contact_us
.sidebar
  %ul
    %li.current.first
      =link_to "Contact Us", enquiries_path
      %p If you are interested in talking to us then we would love to hear from you.
= render 'enquiries/sidebar'
.contact_us
  - if flash[:notice]
    .flash.notice= flash[:notice]
  
  :textile
    h1. Contact Us
    
    With millions of consumers and businesses searching online for products and services, how can any business afford not to have an effective web presence?

    Please complete the form below and we will answer your general enquiry.

  - form_for(@enquiry) do |f|
    = f.error_messages :header_message => "Sorry, your enquiry could not be submitted"

    .field
      = f.label :name
      = f.text_field :name

    .field
      = f.label :email
      = f.text_field :email, :type => 'email'

    .field
      = f.label :phone
      = f.text_field :phone

    .field
      = f.label :message 
      = f.text_area :message, :rows => 4, :cols => 50

    .actions
      = f.submit 'Submit'
