!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    - browser_title = (@page_title || @page.try(:browser_title))
    %title= ['With Imagination', (browser_title unless browser_title.blank?)].compact * ' - '
    - unless @page.try(:keywords).blank?
      %meta{"name" => "keywords", "content" => @page.keywords}
    - unless @page.try(:description).blank?
      %meta{"name" => "description", "content" => @page.description}
    = stylesheet_link_tag 'application', :media => 'all'
    /[if lte IE 7]
      = stylesheet_link_tag 'ie', :media => 'all'
      
    =# javascript_include_tag :defaults, 'lowpro', :cache => true
    = javascript_include_tag 'jquery', 'rails','supersleight','jquery.tweetable','jquery.placeholder', 'jquery.periodic', 'application'
    
    %link{:rel => "icon", :type => "image/vnd.microsoft.icon", :href=>"/favicon.ico"}
    %link{:rel => "SHORTCUT ICON", :href=>"/favicon.ico"}
    = yield :head 
  %body{:class => controller.controller_name == 'pages' ? controller.action_name : controller.controller_name}
    - if false # iphone_user_agent? && request.subdomains.first != 'i'
      .iphone_message
        %p Using an iPhone? #{link_to "Use the optimised version", {:subdomain => 'i'}}.
    .outer
      .container
        - if admin? 
          .admin_toolbar
            = link_to 'Overview', dashboard_path 
            |
            = link_to 'News', news_path
            |
            = link_to 'Projects', projects_path
            |
            = link_to 'Pages', pages_path
            |
            = link_to 'Banners', banners_path
            |
            = link_to 'Log out', session_path, :method => :delete
        .header
          %h1 With Imagination
          %h2 Strategic Web Solutions
        .nav
          %ul
            %li#home_tab= link_to 'Home',root_path
            %li#clients_tab= link_to 'Clients',clients_path
            %li#company_tab= link_to 'Company', company_path
            %li#services_tab= link_to 'Services',services_path
            %li#projects_tab= link_to 'Projects', projects_path
            %li#case_study_tab= link_to 'Case Study',case_study_path
            %li#blogs_tab= link_to 'Blogs',blogs_path
            %li#contact_us_tab= link_to 'Contact Us', enquiries_path
        .wrapper
          = (yield :nested) || yield
        .footer
          .subscribe
            - form_for Subscription.new do |subscription_form| 
              %h2 Subscribe to newsletter
              = subscription_form.text_field :email, :type => 'email', :placeholder => 'email address'
              = subscription_form.submit 'subscribe'
          %p &copy; Copyright 2010  | WITH IMAGINATION | Powered by RUBY ON RAILS
          .external
            = link_to image_tag('linkedin.png'),'http://www.linkedin.com/companies/with-imagination'
            = link_to image_tag('twitter-icon.png'),'http://twitter.com/withimagination'
  = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4b85df855f79819c" if @add_this_used
  
