!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title= ['With Imagination', @page_title].compact * ' - '
    = stylesheet_link_tag 'wi', :media => 'all'
    /[if lte IE 7]
      = stylesheet_link_tag 'ie', :media => 'all'
      
    = javascript_include_tag :defaults, 'lowpro', :cache => true
    %link{:rel => "icon", :type => "image/vnd.microsoft.icon", :href=>"/favicon.ico"}
    %link{:rel => "SHORTCUT ICON", :href=>"/favicon.ico"}
    = yield :head 
  %body.background{:class => "#{controller_name}  #{@body_class}"}
    .main
      - if admin? 
        .admin_toolbar
          = link_to 'Overview', dashboard_path 
          |
          = link_to 'News', news_path
          |
          = link_to 'Projects', projects_path
          |
          = link_to 'Pages', pages_path
          |
          = link_to 'Banners', banners_path
          |
          = link_to 'Log out', session_path, :method => :delete
      .top_banner
        %ul.top_menu
          - Page.roots.each do |page|
            %li= link_to(image_tag(((@page && @page.root) == page) ? page.hover_tab.url : page.tab.url , :alt =>  page.title), unwrapped_page_path(page))
      .content
        = (yield :nested) || yield
    .main_footer
      .footer
        %table.clients
          %tr
            /= image_tag "footer/our_clients.jpg", :alt => "our clients",  :width => "84", :height => "20", :style => 'margin-right: 20px'
            %td
            - Project.find(:all, :conditions => {:in_footer => true, :current => true}, :order => 'position').each do |p|
              %td= image_tag p.logo.url, :alt => p.name, :border => 0
        .reflection
          &reg; Copyright
          = Date.today.year
          Powered by
          %strong #{link_to "Ruby on Rails", 'http://www.rubyonrails.org'} 

          |
          = link_to "Contact Us", contact_us_path
          |
          = link_to 'Company', '/company'
          |
          = link_to 'Projects', projects_path
