!!!
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title With Imagination
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'rails','supersleight','jquery.tweetable', 'application'
  %body
    .outer
      .container
        .header
          %h1 With Imagination
          %h2 Strategic Web Solutions
        .nav{:class => "#{controller.action_name}_action"}
          %ul
            %li.home_tab= link_to 'Home',root_path
            %li.clients_tab= link_to 'Clients',clients_path
            %li.company_tab= link_to 'Company', company_path
            %li.services_tab= link_to 'Services',services_path
            %li.projects_tab= link_to 'Projects','#'
            %li.case_study_tab= link_to 'Case Study',case_study_path
            %li.blogs_tab= link_to 'Blogs',blogs_path
            %li.contact_us_tab= link_to 'Contact Us', contact_us_path
        .wrapper= yield
        .footer
          .subscribe
            - form_for :subscription do |subscription_form| 
              %h2 Subscribe to newsletter
              = subscription_form.text_field :email, :type => 'email', :placeholder => 'email address'
              = subscription_form.submit 'subscribe'
          %p &copy; Copyright 2010  | WITH IMAGINATION | Powered by RUBY ON RAILS
          .external
            = link_to image_tag('linkedin.png'),'#'
            = link_to image_tag('twitter-icon.png'),'#'
