- content_for(:nested) do
  - content_for :head do
    = auto_discovery_link_tag(:rss, "/news.rss")

  .breadcrumb
    = link_to 'home', '/'
    &gt;
    = link_to_if @news, 'news', news_path
    - if @news
      &gt;
      = @news.title

  .left
    .side_menu
      = image_tag 'news/menu.png', :alt => 'latest_news'
      %ul
        - @all_news.each do |news_item|
          %li{:style => "text-transform: none; line-height: 12px; border: none; padding: 0; padding-top : 1em; margin: 0; height: 16px;"}= link_to_if news_item != @news, news_item.title, news_item_path(news_item)
            
  .right
    .side_menu
      #contact_information
        %h3 Contact Us
        %p
          Email:
          = mail_to 'info@wi.com.au','info@wi.com.au', :encode => "javascript"
        %p Phone: + 61 2 9929 9229
        %p Fax: + 61 2 9460 4770
      .twitter= link_to 'Follow', twitter_path
      .subscribe= link_to 'Subscribe Latest News', news_path(:format => 'rss')

  .center
    .banner{:style => "margin:auto; width:501px;"}
      = image_tag 'news/banner.jpg', :alt => 'latest_news'
    #page_content
      = yield
      - if admin?
        .admin
          = link_to 'Add more news...', new_news_item_path
            
  .clear

= render :file => "layouts/application"