- content_for(:nested) do
  .breadcrumb
    = link_to 'home', '/'
    - @page.ancestors.reverse.each do |ancestor|
      &gt;
      = link_to ancestor.title, unwrapped_page_path(ancestor)
    &gt;
    = @page.title

  .left
    .side_menu
      = image_tag @page.root.menu_heading.url
      %ul
        - (@page.root.children).each do |page|
          %li{:class => page == @page ? "current" : nil}= link_to_if((page != @page), page.title, unwrapped_page_path(page))
  .right{:class => @hide_extras ? "hide" : ''}
    .side_menu
      #contact_information
        %h3 Contact Us
        %p
          Email:
          = mail_to 'info@wi.com.au','info@wi.com.au', :encode => "javascript"
        %p Phone: + 61 2 9929 9229
        %p Fax: + 61 2 9460 4770
      .twitter= link_to 'Follow', twitter_path
      .subscribe= link_to 'Subscribe Latest News', news_path(:action => :index, :format => 'rss')

  .center{:class => @hide_extras ? "no-rhs" : ""}
    #page_content
      .banner{:style => "margin: auto; width: 501px", :class => @hide_extras ? "hide" : ''}= image_tag @page.banner.url
      .clear
      = yield
  .clear

= render :file => "layouts/application"