- content_for(:nested) do
  - content_for :head do
    = auto_discovery_link_tag(:rss, "/news.rss")

  .breadcrumb
    = link_to 'home', '/'
    &gt;
    = link_to @current_month.to_formatted_s(:year_month), news_by_month_path(@current_month.year, @current_month.month)

  .left
    .side_menu
      = image_tag 'news/menu.png', :alt => 'latest_news'
      %ul
        - @window.each do |month|
          %li{:style => 'height: auto; line-height: 12px; padding-top: 12px; padding-bottom: 12px; text-transform: upcase;', |
              :class => month == @current_month ? 'current' : ''} |
            - case month
            - when :prev
              - month = @current_month - 1.month
              = link_to "prev", news_by_month_path(:year => month.year, :month => month.month)  
            - when :next
              - month = @current_month + 1.month
              = link_to "next", news_by_month_path(:year => month.year, :month => month.month)
            - else
              - if month == @current_month
                = month.to_formatted_s(:long_year_month)
                %ul{:style => 'margin: 0pt; padding: 1em 0pt 0pt 1em;'}
                  - @current_month_items.each do |item|
                    %li{:style => 'border: medium none ; margin: 0pt; padding: 0pt; padding-top : 1em; text-transform: none; line-height: 12px; height: auto;'}
                      = link_to_if item != @news, item.title, |
                      news_item_by_month_path(:year => @current_month.year,  :month => @current_month.month, :id => item.to_param) |                      
              - else
                = link_to month.to_formatted_s(:long_year_month), news_by_month_path(:year => month.year, :month => month.month) 
          //=link_to_if news != @news, news.title, news_item_path(news), :style => 'text-transform: uppercase;'
  .right
    .side_menu
      #contact_information
        %h3 Contact Us
        %p
          Email:
          = mail_to 'info@wi.com.au','info@wi.com.au', :encode => "javascript"
        %p Phone: + 61 2 9929 9229
        %p Fax: + 61 2 9460 4770
      .twitter= link_to 'Follow', twitter_path
      .subscribe= link_to 'Subscribe Latest News', news_path(:format => 'rss')

  .center
    = image_tag 'news/banner.jpg', :alt => 'latest_news'
    #page_content
      = yield
      - if admin?
        .admin= link_to 'Add more news...', new_news_item_path
  .clear

= render :file => "layouts/application"